
/* CSS Document */
.first{background-color: #4FE078;border-style:dotted;text-align:center;font-size=40px;font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";}
.two{background-color: #94C595;border-style:solid;text-align: left;font-size=20px;font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";}
